@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F9FF;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-align: justify;
    text-align-last: justify;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  scrollbar-width: none;
}

main {
  background: #F5F9FF;
}